<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand navTitle fs-1" href="homePage.html">TextLibre</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link" href="userInfoPage.html">User Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="viewMessage.html">View Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="viewSentMessages.html">Sent Messages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="saveListings.html">Saved Listings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="myListings.html">My Listings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>