.navTitle {
    font-family: "Playfair Display", serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin: 0;
    padding: 0;
}

.btn-outline-success {
    border-color: grey;
    color: grey;
  }

.notification-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification-content {
    flex-grow: 1;
    margin-right: 10px;
}

.notification-details {
    display: none;
    padding: 10px;
    margin-top: 10px;
    background-color: #f8f9fa;
    border-radius: 4px;
    font-size: 0.9em;
}